extends layout

block content
  .container
    h1= title
    p Welcome to our #{title}
  .container(ng-controller="loginCtrl",ng-cloak)
    form(action="{{'webtalk/'+(userid||'guest')}}")
      .row
        .col-lg-3.col-md-4.form-group
          input.form-control.col-lg-2(name="userid",type="text",ng-model="userid",placeholder="{{placeholder}}")
      .row
        .col-lg-3.col-md-4.form-group.text-right
          span.text-muted and then 
          input.btn.btn-default(type="submit",value="Login")
