extends layout

block content
  script.
    window.currentUserId = #{userid};
  .container
    h1= title
    p#messages
    p#state
  .container-fluid(ng-cloak)
    .row
      .col-lg-9.col-md-9.col-sm-8.col-xs-6(ng-controller="actionCtrl")
        .outertalkbox(ng-show="showTalkbox")
          .talkbox(ng-controller="talkboxCtrl",ng-show="showTalkbox")
            .header
              .arrowmenu(ng-click="toggleMenu()") 菜单
              .popmenu(ng-show="showMenu")
                .summary 详细资料
                .history(ng-click="openHistory()") 聊天记录
              button.btn.btn-warning.pull-right(ng-click="stopTalking()") 关闭
              p talking to
                span {{talkTo.firstname+talkTo.lastname}}
            .msg-mask
            ol.msg-list#msg-list
              li.msg(ng-repeat="msg in chats",ng-class="msg._class")
                img.user-img(src="/images/person.png")
                .outerdetail
                  .username {{msg.user.firstname + msg.user.lastname}}
                  .talkcontent {{msg.content}}
            .sentbox
              .smile.hidden
              button.pull-right.btn(ng-click="send()") send
              .outerinput
                textarea.form-control(ng-model="msgToPost")
        .outerhistory(ng-show="showHistory")
          .historybox(ng-controller="historyboxCtrl",ng-show="showHistory")
            .header
              .backbtn(ng-click="backTalkbox();") 返回
              p 聊天记录
            ol.body
              li.record(ng-repeat="msg in historyMsgs")
                p
                  label.username {{msg.send_user.firstname + msg.send_user.lastname}}
                  label.chattime {{msg.timestamp | date:"yyyy-MM-dd HH:mm:ss" }}
                .chatcontent {{msg.content}}
            .foot
              .paging
                .pre.disabled <
                input.input(type="text",name="no",value="1")
                .total /1
                .next.disabled >
        .outersummary.hidden
          .header
            .username 姓名
            button.historybtn 聊天记录
            p 详细资料
          .body
            .role
              img.user-img(src="/images/person.png")
              .rolename 系统管理员
              button.messagebtn 发消息
            .signature
              label.name 个性签名
              label.value 快点成长吧
            .sex
              label.name 性别
              label.value 男
            .birthday
              label.name 生日
              label.value 1984/4/11
            .state
              label.name 国家
              label.value 中国
            .province
              label.name 省份
              label.value 广东
            .city
              label.name 城市
              label.value 深圳
            .mail
              label.name 电子邮箱
              label.value example@gmail.com
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        .outerpanel
          .userpanel(ng-controller="userpanelCtrl")
            p 在线交互
            .onlinepane(ng-show="onlineUsers.length") 在线
            ul.userlist
              li.online(ng-repeat="user in onlineUsers",ng-click="select(user.id)")
                img.user-img(src="/images/person.png",ng-class="user._style_msg")
                span.username {{user.firstname+' '+user.lastname}}
                span.user-state Last screen : {{user.lasttime | date:"yyyy-MM-dd HH:mm:ss" }}
            .offlinepane(ns-show="offlineUsers.length") 离线
            ul.userlist
              li.offline(ng-repeat="user in offlineUsers",ng-click="select(user.id)")
                img.user-img(src="/images/person.png",ng-class="user._style_msg")
                span.username {{user.firstname+' '+user.lastname}}
                span.user-state Last screen : {{user.lasttime | date:"yyyy-MM-dd HH:mm:ss" }}
