<!DOCTYPE html>
<html>
  <head>
    <title>Web Talk Demo</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/angular.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body data-bootstrap="bootstrap_webtalk">
    <script>window.currentUser = {userid};</script>
    <div class="container">
      <h1>Web Talk Demo</h1>
      <p id="messages"></p>
      <p id="state"></p>
    </div>
    <div ng-cloak class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
          <div class="outertalkbox">
            <div ng-controller="talkboxCtrl" ng-show="show" class="talkbox">
              <div class="header">
                <button ng-click="stopTalking()" class="btn btn-warning pull-right">关闭</button>
                <p>talking to {{getFacingUserName()}}</p>
              </div>
              <div class="msg-mask"></div>
              <ol class="msg-list">
                <li ng-repeat="msg in chats" ng-class="msg._class" class="msg"><img src="/images/person.png" class="user-img">
                  <div class="outerdetail">
                    <div class="username">{{msg.user.firstname+msg.user.lastname}}</div>
                    <div class="talkcontent">{{msg.content}}</div>
                  </div>
                </li>
              </ol>
              <div class="sentbox">
                <div class="smile hidden"></div>
                <button ng-click="send()" class="pull-right btn">send</button>
                <div class="outerinput">
                  <textarea ng-model="msgToPost" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <div class="outerpanel">
            <div ng-controller="userpanelCtrl" class="userpanel">
              <p>在线交互</p>
              <div ng-show="onlineUsers &amp;&amp; onlineUsers.length" class="onlinepane">在线</div>
              <ul class="userlist">
                <li ng-repeat="user in onlineUsers" ng-click="select(user.id)" style="cursor:pointer;border:1px solid #eee;font-weight:bold;padding:5px;" class="online"><img src="/images/person.png" class="user-img"><span class="username">{{user.firstname+' '+user.lastname}}</span><span class="username">Last screen : {{user.lasttime.toDateString()}}</span></li>
              </ul>
              <div ns-show="offlineUsers &amp;&amp; offlineUsers.length" class="offlinepane">离线</div>
              <ul class="userlist">
                <li ng-repeat="user in offlineUsers" ng-click="select(user.id)" style="cursor:pointer;border:1px solid #eee;font-weight:bold;padding:5px;" class="offline"><img src="/images/person.png" class="user-img"><span class="username">{{user.firstname+' '+user.lastname}}</span><span class="user-state">Last screen : {{user.lasttime.toDateString()}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/requirejs/require.js" data-main="/javascripts/main.js"></script>
  </body>
</html>