.outerpanel {
  /*width: 240px;*/
  height: 560px;
  position: relative;
  background: linear-gradient(#1d365f, #413936);
  overflow: auto;
}
.userpanel {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 8px;
  bottom: 8px;
  color: #FFFFFF;
  overflow: hidden;
  background: linear-gradient(#36496e, #544c4d);
}
.userpanel > p {
  border-radius: 15px;
  padding: 5px 10px 5px 30px;
  background: #1c3051 url(../images/comments.png) no-repeat 10px 7px;
  display: inline-block !important;
  margin: 20px;
}
.onlinepane {
  background: #FBB44C;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.offlinepane {
  background: #A8BDCF;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.userlist {
  list-style-type: none;
  padding-left: 20px;
}
.userlist > li {
  list-style-type: none;
  position: relative;
  border: 0 !important;
  padding: 15px 5px;
  height: 36px;
  margin: 10px 0;
  cursor: pointer;
  border: 1px solid #eee;
  font-weight: bold;
  padding: 5px;
}
.userlist > li > * {
  position: absolute;
}
.userlist .user-img {
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 15px;
}
.userlist .username {
  left: 45px;
  top: 1px;
  font-size: 12px;
}
.userlist .user-state {
  left: 45px;
  top: 18px;
  font-size: 11px;
  font-style: italic;
  color: #646D7D;
}
.userlist .offline .user-img {
  opacity: 0.4;
}
.userlist .offline .usertime {
  color: #77767A;
}
.outertalkbox {
  height: 460px;
  position: relative;
}
.outertalkbox > img {
  width: 100%;
  height: 100%;
}
.talkbox {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/bg.jpg");
}
.talkbox > .header {
  height: 35px;
  background: linear-gradient(#525252, #252525);
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  z-index: 1;
}
.talkbox > .header > .arrowmenu {
  position: absolute;
  top: 4px;
  left: 8px;
  padding: 5px 10px 5px 30px;
  height: 26px;
  border-radius: 5px;
  background: linear-gradient(#555656, #252525);
  border: 1px solid #322F2F;
  background-image: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 10px 5px;
  cursor: pointer;
  color: #FFF;
  font-size: 12px;
}
.talkbox > .header > .popmenu {
  position: absolute;
  top: 35px;
  width: 100%;
  height: 80px;
  padding-left: 2px;
  background: #3C3C3C;
  box-shadow: 0 2px 0px #363432;
  text-align: left;
}
.talkbox > .header > .popmenu > .summary {
  display: inline-block;
  width: 80px;
  height: 100%;
  padding: 55px 10px 10px 10px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  background: linear-gradient(#4f4f4f, #2d2d2d);
  border-left: 1px solid #2F2F2F;
  border-right: 1px solid #2F2F2F;
  box-shadow: 5px 0 5px #363432;
  background-image: url(../images/summay.png);
  background-repeat: no-repeat;
  background-position: center 10px;
  cursor: pointer;
}
.talkbox > .header > .popmenu > .history {
  display: inline-block;
  width: 80px;
  height: 100%;
  padding: 55px 10px 10px 10px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  background: linear-gradient(#4f4f4f, #2d2d2d);
  border-right: 1px solid #2F2F2F;
  box-shadow: 5px 0 5px #363432;
  background-image: url(../images/talk.png);
  background-repeat: no-repeat;
  background-position: center 15px;
  cursor: pointer;
}
.talkbox > .header > .btn {
  position: absolute;
  border-radius: 3px;
  top: 4px;
  right: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
}
.talkbox > .header > p {
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.talkbox > .msg-mask {
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 46px;
  background: #111;
}
.talkbox > .msg-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 46px;
  padding: 20px 10px;
  overflow: auto;
}
.talkbox > .msg-list > li.msg {
  position: relative;
  list-style-type: none;
}
.talkbox > .msg-list > li.msg > img.user-img {
  width: 36px;
  height: 36px;
  border-radius: 15px;
  float: left;
}
.talkbox > .msg-list > li.msg > .outerdetail {
  overflow: hidden;
  margin: 5px 10px;
}
.talkbox > .msg-list > li.msg > .outerdetail > .username {
  color: #2A2117;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #FFF;
}
.talkbox > .msg-list > li.msg > .outerdetail > .talkcontent {
  float: left;
  display: inline-block;
  background: linear-gradient(#d2ff9f, #9ccf37);
  border-radius: 5px;
  padding: 8px 10px;
}
.talkbox > .msg-list > li.msg.me > img.user-img {
  float: right;
}
.talkbox > .msg-list > li.msg.me > .outerdetail > .username {
  text-align: right;
}
.talkbox > .msg-list > li.msg.me > .outerdetail > .talkcontent {
  float: right;
  background: #FFFFFF;
}
.talkbox > .sentbox {
  position: absolute;
  height: 46px;
  width: 100%;
  background: linear-gradient(#525252, #252525);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  left: 0;
}
.talkbox > .sentbox > .smile {
  float: left;
  width: 32px;
  height: 32px;
  background: url(../images/smile.png);
  margin: 6px 8px;
  cursor: pointer;
}
.talkbox > .sentbox > .pull-right {
  float: right;
  margin: 6px 8px 0px 10px;
  cursor: pointer;
}
.talkbox > .sentbox > .outerinput {
  height: 100%;
  padding: 6px 0 6px 6px;
  position: relative;
  overflow: hidden;
}
.talkbox > .sentbox > .outerinput > textarea {
  width: 100%;
  height: 100%;
  border: 0;
}
.outersummay {
  height: 460px;
  position: relative;
}
.outersummay > .header {
  height: 35px;
  background: linear-gradient(#525252, #252525);
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.outersummay > .header > .username {
  position: absolute;
  border-radius: 3px;
  top: 5px;
  left: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient(#555656, #252525);
  border: 1px solid #2D2929;
  font-size: 12px;
  padding: 5px 15px;
}
.outersummay > .header > .historybtn {
  position: absolute;
  border-radius: 3px;
  top: 5px;
  right: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient(#555656, #252525);
  border: 1px solid #2D2929;
  font-size: 12px;
  padding: 5px 15px;
}
.outersummay > .header > p {
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.outersummay > .body {
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
  bottom: 0;
  background: #EDEDED;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}
.outersummay > .body > .role {
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 10px;
  position: relative;
  margin-top: 10px;
}
.outersummay > .body > .role > .user-img {
  float: left;
}
.outersummay > .body > .role > .rolename {
  float: left;
  padding-left: 10px;
  position: relative;
  top: 8px;
}
.outersummay > .body > .role > .messagebtn {
  float: right;
  font-size: 12px;
  padding: 2px 5px;
  position: relative;
  top: 6px;
}
.outersummay > .body label.name {
  color: #989898;
  font-size: 12px;
  margin-bottom: 0;
  width: 80px;
}
.outersummay > .body label.value {
  color: #110F06;
  font-size: 12px;
  margin-bottom: 0;
  font-style: italic;
}
.outersummay > .body > .signature {
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  padding: 8px 10px;
}
.outersummay > .body > .sex {
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  padding: 8px 10px;
}
.outersummay > .body > .birthday {
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  padding: 8px 10px;
}
.outersummay > .body > .state {
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  padding: 8px 10px;
  margin-top: 20px;
  border-bottom: 0;
}
.outersummay > .body > .province {
  background: #FFF;
  border: 1px solid #BCD1E7;
  overflow: hidden;
  padding: 8px 10px;
  border-bottom: 0;
}
.outersummay > .body > .city {
  background: #FFF;
  border: 1px solid #BCD1E7;
  overflow: hidden;
  padding: 8px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.outersummay > .body > .mail {
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  padding: 8px 10px;
}
.outerhistory {
  height: 460px;
  position: relative;
}
.historybox > .header {
  height: 35px;
  background: linear-gradient(#525252, #252525);
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.historybox > .header > .backbtn {
  position: absolute;
  border-radius: 3px;
  top: 5px;
  left: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient(#555656, #252525);
  border: 1px solid #2D2929;
  font-size: 12px;
  padding: 5px 15px;
}
.historybox > .header > p {
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.historybox > .body {
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
  bottom: 35px;
  background: #EDEDED;
  padding: 10px;
  margin: 0 !important;
}
.historybox > .body .record {
  list-style: none;
}
.historybox > .body p {
  margin-bottom: 0;
}
.historybox > .body label.username {
  color: #50A950;
  font-weight: blod;
  padding-right: 10px;
  font-size: 14px;
}
.historybox > .body label.chattime {
  color: #B7B7B7;
  font-size: 12px;
}
.historybox > .foot {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 35px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
  background: linear-gradient(#525252, #252525);
  text-align: center;
}
.historybox > .foot > .paging {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-top: 7px;
}
.historybox > .foot > .paging > .pre {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.historybox > .foot > .paging > .pre.disabled {
  opacity: 0.4;
  cursor: default;
}
.historybox > .foot > .paging > .input {
  width: 25px;
  color: #333;
}
.historybox > .foot > .paging > .total {
  display: inline-block;
  padding: 0 5px;
}
.historybox > .foot > .paging > .next {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.historybox > .foot > .paging > .next.disabled {
  opacity: 0.4;
  cursor: default;
}
