body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.msg-tip{
  animation: kf-msg-tip 1s;
  animation-iteration-count: infinite;
  -moz-animation: kf-msg-tip 1s; /* Firefox */
  -moz-animation-iteration-count: infinite;
  -webkit-animation: kf-msg-tip 1s;  /* Safari 和 Chrome */
  -webkit-animation-iteration-count: infinite;
}
@keyframes kf-msg-tip
{
0% {left: 0px;top:0px;}
50% {left: 5px;top:-2px;}
100% {left: 0px;top:0px;}
}

@-moz-keyframes kf-msg-tip /* Firefox */
{
0% {left: 0px;top:0px;}
50% {left: 5px;top:-2px;}
100% {left: 0px;top:0px;}
}

@-webkit-keyframes kf-msg-tip /* Safari 和 Chrome */
{
0% {left: 0px;top:0px;}
50% {left: 5px;top:-2px;}
100% {left: 0px;top:0px;}
}

@-o-keyframes kf-msg-tip /* Opera */
{
0% {left: 0px;top:0px;}
50% {left: 5px;top:-2px;}
100% {left: 0px;top:0px;}
}
