body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.outerpanel{
  width: 240px;
  height: 560px;
  position: relative;
  background: linear-gradient(#1d365f,#413936);
}
.userpanel{
  position: absolute;
  top: 4px;
  left: 4px;
    right: 8px;
  bottom: 8px;  
  color: #FFFFFF;°°
  overflow: hidden;
  background: linear-gradient(#36496E,#544C4D);
}
.userpanel>p{
  border-radius: 15px;
  padding: 5px 10px 5px 30px;
  background: #1c3051 url(../images/mail.png) no-repeat 10px 7px;
  display: inline-block !important;
  margin: 20px;
}
.onlinepane{
  background: #FBB44C;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.offlinepane{
  background: #A8BDCF;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.userlist{
  list-style-type: none;
  padding-left: 20px;
}
.userlist>li{
  list-style-type: none;
  position: relative;
  border: 0 !important;
  padding: 15px 5px;
  height: 36px;
  margin: 10px 0;
}
.userlist>li>*{
  position: absolute;
}
.userlist .user-img{
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 15px;
}
.userlist .username{
  left: 45px;
  top: 1px;
}
.userlist .usertime{
  left: 45px;
  top: 18px;
  font-size: 11px;
  font-style: italic;
  color: #646D7D;
}
.userlist .offline .user-img{
  opacity:0.4;
}
.userlist .offline .usertime{
  color: #77767A;
}

.outertalkbox{
  height: 560px;
  position: relative;
}
.outertalkbox>img{
  width: 100%;
  height: 100%;
}
.talkbox{
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/bg.jpg");
}
.talkbox>.header{
  height: 35px;
  background: linear-gradient(#525252,#252525); 
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.talkbox>.header>.btn{
  position: absolute;
  border-radius: 3px;
  top: 4px;
  right: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
}
.talkbox>.header>p{
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.talkbox>.msg-mask{
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 46px;
  background: #111;
}
.talkbox>.msg-list{
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 46px;
  padding: 20px 10px;
}
.talkbox>.msg-list>li.msg{
  position: relative;
  list-style-type: none;
}
.talkbox>.msg-list>li.msg>img.user-img{
  width: 36px;
  height: 36px;
  border-radius: 15px;
  float: left;
}
.talkbox>.msg-list>li.msg>.outerdetail{
  overflow: hidden;
  margin: 5px 10px;
}
.talkbox>.msg-list>li.msg>.outerdetail>.username{
  color: #2A2117;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #FFF;
}
.talkbox>.msg-list>li.msg>.outerdetail>.talkcontent{
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 8px 10px;
}

.talkbox>.msg-list>li.msg.me{
}
.talkbox>.msg-list>li.msg.me>img.user-img{
  float: right;
}
.talkbox>.msg-list>li.msg.me>.outerdetail{
  
}
.talkbox>.msg-list>li.msg.me>.outerdetail>.username{
  text-align: right;
}
.talkbox>.msg-list>li.msg.me>.outerdetail>.talkcontent{
  float: right;
}

.talkbox>.sentbox{
  position: absolute;
  height: 46px;
  width: 100%;
  background: linear-gradient(#525252,#252525); 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  left: 0;
}
.talkbox>.sentbox>.smile{
  float: left;
  width: 32px;
  height: 32px;
  background: url(../images/smile.png);
  margin: 6px 8px;
  cursor: pointer;
}
.talkbox>.sentbox>.pull-right{
  float: right;
  margin: 6px 8px 0px 10px;
  cursor: pointer;
}
.talkbox>.sentbox>.outerinput{
  height: 100%;
  padding: 6px 0 6px 6px;
  position: relative;
  overflow: hidden;
}
.talkbox>.sentbox>.outerinput>textarea{
  width: 100%;
  height: 100%;
  border: 0;  
}
