
.outersummay{
  height: 460px;
  position: relative;
}
.outersummay>.header{
  height: 35px;
  background: linear-gradient(#525252,#252525);
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.outersummay>.header>.username{
  position: absolute;
  border-radius: 3px;
  top: 5px;
  left: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient( #555656,#252525);
  border: 1px solid #2D2929;
  font-size: 12px;
  padding: 5px 15px;
}
.outersummay>.header>.historybtn{
  position: absolute;
  border-radius: 3px;
  top: 5px;
  right: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient( #555656,#252525);
  border: 1px solid #2D2929;
  font-size: 12px;
  padding: 5px 15px;
}
.outersummay>.header>p{
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.outersummay>.body{
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
  bottom: 0;
  background: #EDEDED;
  border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  padding: 10px;
}
.outersummay>.body>.role{
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 10px;
  position: relative;
  margin-top: 10px;
}
.outersummay>.body>.role>.user-img{
   float: left;
}
.outersummay>.body>.role>.rolename{
   float: left;
   padding-left: 10px;
   position: relative;
   top: 8px;
}
.outersummay>.body>.role>.messagebtn{
   float: right;
   font-size: 12px;
   padding: 2px 5px;
   position: relative;
   top: 6px;
}
.outersummay>.body label.name{
   color: #989898;
   font-size: 12px;
   margin-bottom: 0;
   width: 80px;
}
.outersummay>.body label.value{
   color: #110F06;
   font-size: 12px;
   margin-bottom: 0;
   font-style: italic;
}

.outersummay>.body>.signature{
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  padding: 8px 10px;
}
.outersummay>.body>.sex{
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  padding: 8px 10px;
}
.outersummay>.body>.birthday{
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  padding: 8px 10px;
}
.outersummay>.body>.state{
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  padding: 8px 10px;
  margin-top: 20px;
  border-bottom: 0;
}
.outersummay>.body>.province{
  background: #FFF;
  border: 1px solid #BCD1E7;
  overflow: hidden;
  padding: 8px 10px;
  border-bottom: 0;
}
.outersummay>.body>.city{
  background: #FFF;
  border: 1px solid #BCD1E7;
  overflow: hidden;
  padding: 8px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.outersummay>.body>.mail{
  background: #FFF;
  border: 1px solid #BCD1E7;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
  padding: 8px 10px;
}