.outerhistory{
  height: 460px;
  position: relative;
}
.historybox >.header{
  height: 35px;
  background: linear-gradient(#525252,#252525);
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.historybox >.header>.backbtn{
  position: absolute;
  border-radius: 3px;
  top: 5px;
  left: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient( #555656,#252525);
  border: 1px solid #2D2929;
  font-size: 12px;
  padding: 5px 15px;
}
.historybox >.header>p{
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.historybox >.body{
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
  bottom: 35px;
  background: #EDEDED;
  padding: 10px;
  margin: 0 !important;
}

.historybox >.body .record{
  list-style: none;
}

.historybox >.body p{
  margin-bottom: 0;
}
.historybox >.body label.username{
  color: #50A950;
  font-weight: blod;
  padding-right: 10px;
  font-size: 14px;
}
.historybox >.body label.chattime{
  color: #B7B7B7;
  font-size: 12px;
}


.historybox >.foot{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 35px;
  border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  color: #FFF;
    background: linear-gradient(#525252,#252525);
  text-align: center;
}
.historybox >.foot>.paging{
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-top: 7px;
}
.historybox >.foot>.paging>.pre{
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.historybox >.foot>.paging>.pre.disabled{
  opacity:0.4;
  cursor: default;
}
.historybox >.foot>.paging>.input{
  width: 25px;
  color: #333;
}
.historybox >.foot>.paging>.total{
  display: inline-block;
  padding: 0 5px;
}
.historybox >.foot>.paging>.next{
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.historybox >.foot>.paging>.next.disabled{
  opacity:0.4;
  cursor: default;
}