

.outerpanel{
  /*width: 240px;*/
  height: 560px;
  position: relative;
  background: linear-gradient(#1d365f,#413936);
  overflow: auto;
}
.userpanel{
  position: absolute;
  top: 4px;
  left: 4px;
    right: 8px;
  bottom: 8px;
  color: #FFFFFF;
  overflow: hidden;
  background: linear-gradient(#36496E,#544C4D);
}
.userpanel>p{
  border-radius: 15px;
  padding: 5px 10px 5px 30px;
  background: #1c3051 url(../images/comments.png) no-repeat 10px 7px;
  display: inline-block !important;
  margin: 20px;
}
.onlinepane{
  background: #FBB44C;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.offlinepane{
  background: #A8BDCF;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.userlist{
  list-style-type: none;
  padding-left: 20px;
}
.userlist>li{
  list-style-type: none;
  position: relative;
  border: 0 !important;
  padding: 15px 5px;
  height: 36px;
  margin: 10px 0;
  cursor:pointer;border:1px solid #eee;font-weight:bold;padding:5px;
}
.userlist>li>*{
  position: absolute;
}
.userlist .user-img{
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 15px;
}
.userlist .username{
  left: 45px;
  top: 1px;
  font-size: 12px;
}
.userlist .user-state{
  left: 45px;
  top: 18px;
  font-size: 11px;
  font-style: italic;
  color: #646D7D;
}
.userlist .offline .user-img{
  opacity:0.4;
}
.userlist .offline .usertime{
  color: #77767A;
}
