


.outertalkbox{
  height: 460px;
  position: relative;
}
.outertalkbox>img{
  width: 100%;
  height: 100%;
}
.talkbox{
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background-image: url("../images/bg.jpg");
}
.talkbox>.header{
  height: 35px;
  background: linear-gradient(#525252,#252525);
  position: absolute;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  z-index: 1;
}
.talkbox>.header>.arrowmenu{
  position: absolute;
  top: 4px;
  left: 8px;
  padding: 5px 10px 5px 30px;
  height: 26px;
  border-radius: 5px;
  background: linear-gradient(#555656,#252525) ;
  border: 1px solid #322F2F;
  background-image: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 10px 5px;
  cursor: pointer;
  color: #FFF;
  font-size: 12px;
}
.talkbox>.header>.popmenu{
  position: absolute;
  top: 35px;
  width: 100%;
  height: 80px;
  padding-left: 2px;
  background: #3C3C3C;
  box-shadow: 0 2px 0px #363432;
  text-align: left;
}
.talkbox>.header>.popmenu>.summary{
  display: inline-block;
  width: 80px;
  height: 100%;
  padding: 55px 10px 10px 10px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  background: linear-gradient(#4F4F4F,#2D2D2D) ;
  border-left: 1px solid #2F2F2F;
  border-right: 1px solid #2F2F2F;
  box-shadow:5px 0 5px #363432;
  background-image: url(../images/summay.png);
  background-repeat: no-repeat;
  background-position: center 10px;
  cursor: pointer;
}
.talkbox>.header>.popmenu>.history{
  display: inline-block;
  width: 80px;
  height: 100%;
  padding: 55px 10px 10px 10px;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  background: linear-gradient(#4F4F4F,#2D2D2D) ;
  border-right: 1px solid #2F2F2F;
  box-shadow:5px 0 5px #363432;
  background-image: url(../images/talk.png);
  background-repeat: no-repeat;
  background-position: center 15px;
  cursor: pointer;
}
.talkbox>.header>.btn{
  position: absolute;
  border-radius: 3px;
  top: 4px;
  right: 8px;
  height: 25px !important;
  padding: 2px 10px;
  cursor: pointer;
}
.talkbox>.header>p{
  color: #FFFFFF;
  padding: 8px;
  font-weight: bold;
}
.talkbox>.msg-mask{
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 46px;
  background: #111;
}
.talkbox>.msg-list{
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  bottom: 46px;
  padding: 20px 10px;
  overflow: auto;
}
.talkbox>.msg-list>li.msg{
  position: relative;
  list-style-type: none;
}
.talkbox>.msg-list>li.msg>img.user-img{
  width: 36px;
  height: 36px;
  border-radius: 15px;
  float: left;
}
.talkbox>.msg-list>li.msg>.outerdetail{
  overflow: hidden;
  margin: 5px 10px;
}
.talkbox>.msg-list>li.msg>.outerdetail>.username{
  color: #2A2117;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #FFF;
}
.talkbox>.msg-list>li.msg>.outerdetail>.talkcontent{
  float: left;
  display: inline-block;
  background: linear-gradient(#D2FF9F,#9CCF37);
  border-radius: 5px;
  padding: 8px 10px;
}
.talkbox>.msg-list>li.msg.me{
}
.talkbox>.msg-list>li.msg.me>img.user-img{
  float: right;
}
.talkbox>.msg-list>li.msg.me>.outerdetail{

}
.talkbox>.msg-list>li.msg.me>.outerdetail>.username{
  text-align: right;
}
.talkbox>.msg-list>li.msg.me>.outerdetail>.talkcontent{
  float: right;
  background: #FFFFFF;
}

.talkbox>.sentbox{
  position: absolute;
  height: 46px;
  width: 100%;
  background: linear-gradient(#525252,#252525);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  bottom: 0;
  left: 0;
}
.talkbox>.sentbox>.smile{
  float: left;
  width: 32px;
  height: 32px;
  background: url(../images/smile.png);
  margin: 6px 8px;
  cursor: pointer;
}
.talkbox>.sentbox>.pull-right{
  float: right;
  margin: 6px 8px 0px 10px;
  cursor: pointer;
}
.talkbox>.sentbox>.outerinput{
  height: 100%;
  padding: 6px 0 6px 6px;
  position: relative;
  overflow: hidden;
}
.talkbox>.sentbox>.outerinput>textarea{
  width: 100%;
  height: 100%;
  border: 0;
}